.challenge-box {
    border: 1px solid #ccc;
    padding: 100px;
    border-radius: 80px;
    background-color: #9acc7e;
    
  }
  
  .challenge-box h2 {
    margin-bottom: 20px;
  }
  
  .challenge-box h3 {
    margin-top: 20px;
  }
  
  .challenge-box ul {
    list-style-type: none;
    padding: 0;
  }
  
  .challenge-box li {
    margin: px 0;
  }
  