*{
    background-color: #012214
 
 } 
 
 .container {
     max-width: 500px;
     max-height: 100px;
     margin: 50px auto;
     padding: 20px;
     color: #0b0f0d;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.644);
 }
 
 h1 {
     text-align: center;
 }
 
 form {
     display: flex;
     justify-content: center;
     margin-bottom: 20px;
 }
 
 input[type="text"] {
     width: 70%;
     padding: 10px;
     border: 1px solid #fff;
     border-radius: 5px;
     margin-right: 10px;
 }
 input[type="checkbox"] {
     background-color: #28a745;
 }
 
 button {
     padding: 10px 20px;
     border: none;
     background: #28a745;
     color: #fff;
     border-radius: 5px;
     cursor: pointer;
 }
 
 button:hover {
     background: #218838;
 }
 
 ul {
     list-style-type: none;
     padding: 0;
 }
 
 li {
     background: #fff;
     margin: 10px 0;
     padding: 10px;
     border: 1px solid #ddd;
     border-radius: 5px;
     display: flex;
     align-items: center;
 }
 
 li.completed {
     text-decoration: line-through;
 }
 
 li input[type="checkbox"] {
     margin-right: 10px;
 }