.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-image: url('../assets/background.jpg'); 
  background-size: cover; 
  background-position: center; 
  color: white; 
  container:initial;
}

h1 {
  color: #020f02; 
  font-size: 2.5em; 
}

p {
  color:honeydew; 
  text-align: center;
}
