
body {
  background-image: url('https://i.pinimg.com/564x/f9/6b/f2/f96bf2246a029b35e216876495fdde7b.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center; 
  background-attachment: fixed; 
}

.session-title {
  font-size: 30px;
  color: #52796f;
  margin-bottom: 10px;
}

.sessions-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  gap: 20px;
  padding: 20px;
  
}

.session-card {
  padding: 30px; 
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: box-shadow 0.2s ease;
  font-size: 18px; 
}

.session-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.session-details {
  margin-top: 10px;
  font-size: 22px; /* Font size for session details */
}



.session-description, .session-instructions, .session-duration {
  margin-bottom: 10px;
}
