.sidebar {
    width: 250px; /* Set the width of the sidebar */
    height: 100vh; /* Full height */
    position: fixed; /* Fixed position */
    top: 0;
    left: 0;
    background-color: #111; /* Background color */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: transform 0.3s ease;
  }
  
  .sidebar.hidden {
    transform: translateX(-100%);
  }
  
  .sidebar.visible {
    transform: translateX(0);
  }
  
  .toggle-button {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px; /* Adjust font size for the arrow */
  }
  
  .toggle-button:focus {
    outline: none;
  }
  