
/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.fitness-title {
  text-orientation: mixed;
  font-family: 'Pacifico', cursive;
  font-size: 7rem; /* Adjust as needed */
  margin-bottom: 50px;
  color: #e4eceace;
}
.fitness{
  background-image: url('https://i.pinimg.com/564x/76/76/2e/76762eb800603c9ea264f3c62983a418.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center; 
  background-attachment: fixed; 
  height: 100vh;


}
.fitness-challenge {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    text-align: center;
   
    
  }
  
  .button-container {
    margin: 20px;
  }
  
  
  .level-button {
    background-color: #0d523f;
    border: none;
    color: rgb(12, 11, 11);
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s;
  }
  
  .level-button:hover {
    background-color: #3a8070;
  }
  
  
  .exercise-list {
    margin: 20px auto;
    max-width: 600px;
  }
  
  .exercise-list h2 {
    color: #333;
  }
  
  
  .exercise-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .exercise-box {
    background-color: #84ccdf;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.884);
    width: 200px;
    text-align: center;
  }